@model Globaltek_Market.Infraestructure.Dtos.FacturaDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FacturaDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroFactura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDePago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDePago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentoCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentoCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalDescuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDescuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalImpuesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalImpuesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFactura }) |
    @Html.ActionLink("Back to List", "Index")
</p>
